<div class="container-fluid">

<div class="row">
  <div class="col-md-12">
    <div class="center">
      <div class="progress-wrapper">
        <div class="timer" ng-style="vm.getStyle()">{{ vm.displayTimer }}</div>
        <round-progress responsive="true" max="vm.max" current="vm.currentSeconds" color="{{ vm.getColor() }}" bgcolor="{{ vm.bgColor }}"
          radius="{{ vm.radius }}" semi="vm.isSemi" rounded="vm.rounded" stroke="{{vm.stroke }}" clockwise="vm.clockwise" responsive="vm.responsive"
          duration="{{ vm.duration }}" animation="{{ vm.currentAnimation }}" offset="{{ vm.offset }}" animation-delay="0" on-render="vm.showPreciseCurrent">
          <svg>
            <linearGradient id="gradient" x1="0" x2="0" y1="0" y2="1">
              <stop offset="5%" stop-color="green" />
              <stop offset="95%" stop-color="gold" />
            </linearGradient>
          </svg>
        </round-progress>
      </div>
      <i class="fa fa-play btn btn-primary" ng-hide="vm.isTimerActive" ng-click="vm.startTimer()"></i>
      <i class="fa fa-play btn btn-primary" ng-show="vm.isTimerPaused" ng-click="vm.resumeTimer()"></i>
      <i class="fa fa-pause btn btn-warning" ng-show="!vm.isTimerPaused && vm.isTimerActive" ng-click="vm.pauseTimer()"></i>
      <i class="fa fa-stop btn btn-danger" ng-show="vm.isTimerActive || vm.isTimerPaused" ng-click="vm.stopTimer()"></i>
    </div>
  </div>
  </div>